@model nhom8_ecommerce.ContactDB.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="margin-top: 40px">Đăng kí tài khoản</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="wrapper_register">
    <div class="register_card">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>Họ của bạn</p>
            <div class="col-md-4">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Tên của bạn</p>
            <div class="col-md-4">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Email đăng nhập</p>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Mật khẩu</p>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <p>Vai trò</p>
            <div class="col-md-4">
                @Html.EditorFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="register_card_button">
            <button type="submit" class="btn btn-primary"> Đăng kí  </button>
        </div>
        <p class="text-center mt-4">Have an account ? <a href=" @Url.Action("Login", "Home")">Đăng nhập </a> </p>
    </div>
    <style>
        .wrapper_register{
            width: 1380px;
            display:flex;
            justify-content: center;
        }

        .register_card {
            width: 700px;
            border: 1px solid #dbdbdb;
            border-radius: 20px;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
            padding: 20px;
            background-color: #fff;
            display: flex;
            align-content:center;
            flex-direction:column;
        }

        .register_card_button {
            display: flex;
            justify-content: center;
            margin-top: 12px;
        }

        .form-group{
            width: 100%;
            margin-bottom: 8px
        }

        .form-group p {
            width: 100%;
            transform:translateX(10px);
            margin: 0 0 6px 0
        }
        .form-group input {
            width: 100%;
            min-width: 600px;
        }
    </style>
</div>

}

