@model nhom8_ecommerce.ContactDB.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
<div>
    <h4>Thông tin về sản phẩm số @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <dl class="dl-horizontal">
        <section class="section-content bg-white padding-y">
            <div class="container">

                <!-- ============================ ITEM DETAIL ======================== -->
                <div class="row">
                    <aside class="col-md-6">
                        <div class="card">
                            <article class="gallery-wrap">
                                <div class="img-big-wrap">

                                    <div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <a href="#" class="item-thumb"> <img src="~/Public/@Html.DisplayFor(model => model.Img)" alt="First slide" width="385" height="480">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon text-danger" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon text-danger" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                
                                </div> <!-- slider-product.// -->
                            </article> <!-- gallery-wrap .end// -->
                        </div> <!-- card.// -->
                    </aside>
                    <main class="col-md-6">
                        <article class="product-info-aside">

                            <h2 class="title mt-3">@Html.DisplayFor(model => model.Name)</h2>
                            <div class="mb-3">
                                <var class="price h4">@Html.DisplayFor(model => model.Price)</var>
                                <span class="text-muted">@Html.DisplayFor(model => model.PriceDiscount)</span>
                            </div> <!-- price-detail-wrap .// -->
                            <p>
                                @Html.DisplayFor(model => model.ShortDes)
                            </p>
                            <dl class="row">
                                <dt class="col-sm-3">Cty sản xuất</dt>
                                <dd class="col-sm-9"><a href="#">@Html.DisplayFor(model => model.producter)</a></dd>

                                <dt class="col-sm-3">Chất liệu</dt>
                                <dd class="col-sm-9">@Html.DisplayFor(model => model.specication)</dd>

                                <dt class="col-sm-3">Nơi sản xuất</dt>
                                <dd class="col-sm-9">@Html.DisplayFor(model => model.origin)</dd>

                                <dt class="col-sm-3">Giảm giá</dt>
                                <dd class="col-sm-9">@Html.DisplayFor(model => model.discount)<span>%</span></dd>

                                <dt class="col-sm-3">Đơn hàng đã đặt</dt>
                                <dd class="col-sm-9">@Html.DisplayFor(model => model.DisplayOrder)</dd>

                                <dt class="col-sm-3">Mô tả đầy đủ về sản phẩm</dt>
                                <dd class="col-sm-9">@Html.DisplayFor(model => model.FullDes)</dd>
                            </dl>
                        </article> <!-- product-info-aside .// -->
                    </main> <!-- col.// -->
                </div> <!-- row.// -->
                <!-- ================ ITEM DETAIL END .// ================= -->


            </div> <!-- container .//  -->
        </section>
        <!-- ========================= SECTION  ========================= -->
    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật lại", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại danh mục sản phẩm", "Index")
</p>
