@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<nhom8_ecommerce.ContactDB.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}


<style>
    .tableaa {
        background-color: burlywood;
    }

    .pagination {
        font-display: inherit;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #ddd;
        }

            .pagination a:hover {
                background-color: #1681b0;
            }

            .pagination a:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .pagination a:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

    }

    td {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        border-left: 1px solid #dbdbdb;
    }

        td > img {
            object-fit: cover;
            width: 180px;
            height: 180px;
            border-radius: 12px;
        }

    tr > th {
        text-align: center;
    }

    .button-actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        height: 100%;
    }

    .button-action {
        width: 100px;
        min-width: 100px;
        border: 1px solid #dbdbdb;
        padding: 8px;
        text-align: center;
        border-radius: 16px;
        color: #fff !important;
        font-weight: 500;
    }

    .button-action-danger {
        background-color: #f00;
        color: white
    }

    .button-action-success {
        background-color: #00adff;
    }

    .button-action-primary {
        background-color: orange;
    }

    .add-product {
        min-width: 180px;
        margin: 0px 0 12px 0px;
        background-color: #34e162;
        color: #f00 !important;
    }

    .header_product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
    }

    .header_product_search input {
        padding: 4px;
        border: 1px solid #dbdbdb;
        border-radius: 8px;
    }


        .header_product_search input:focus {
            border: 1px solid #dbdbdb;
            outline: none;
        }
</style>
<div>

    <div class="header_product d-flex justify-content-between align-items-center">

        <p class="button-action add-product padding-bottom">
            @Html.ActionLink("Thêm Sản Phẩm Mới", "Create")
        </p>
        <div class="col-lg-3 col-4">
            <!-- small box -->
            <div class="sm-box bg-info px-2 rounded">
                <div class="align-self-center d-flex justify-content-between">
                    <p>Tổng số lượng sản phẩm</p>
                    <h3>@ViewBag.GetProductCount</h3>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-4">
            <!-- small box -->
            <div class="sm-box bg-info px-2 rounded">
                <div class="align-self-center d-flex justify-content-between">
                    <p>Hàng tồn kho</p>
                    <h3>@ViewBag.TotalAvailableProducts</h3>

                </div>
            </div>
        </div>
    </div>

    <table class="table x-toolbar grid-toolbar x-border-item x-box-item x-toolbar-default x-box-layout-ct" style="border-width: 1px 1px 0px; height: 36px; margin: 0px;  right: auto; left: 0px; top: 0px;" role="toolbar" aria-hidden="false" aria-disabled="false">
        <tr class="tableaa">
            <th class="col-sm-2">Tên sản phẩm</th>
            <th class="col-sm-2">Hình ảnh</th>
            <th class="col-sm-1">Cty sản xuất</th>
            <th class="col-sm-1">Chất liệu</th>
            <th class="col-sm-1">Nơi sản xuất</th>
            <th class="col-sm-1">Giá niêm yết</th>
            <th class="col-sm-1">Giá đã giảm</th>
            <th class="col-sm-1">Giảm giá(%)</th>
            <th class="col-sm-2"><span>Chức năng</span></th>
        </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-bold">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="~/Public/@Html.DisplayFor(modelItem => item.Img)" height="180" width="150" class="img-bg">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.producter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.specication)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.origin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceDiscount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discount)
                    </td>
                    <td class="button-actions">
                        <span class="text-white button-action button-action-danger">@Html.ActionLink("Sửa", "Edit", new { id = item.Id })  </span>
                        <span class="text-white button-action button-action-success">@Html.ActionLink("Chi tiết", "Details", new { id = item.Id })  </span>
                        <span class="text-white button-action button-action-primary">@Html.ActionLink("Xóa", "Delete", new { id = item.Id })  </span>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
