@model  List<nhom8_ecommerce.ContactDB.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<style>
    .tableaa {
        background-color: burlywood;
        border:inset;
    }
</style>
<p>
    @Html.ActionLink("Tạo tài khoản", "Create")
</p>
<div>
    <table class="table">
        <tr class="tableaa">
            <th class="col-sm-2">Họ</th>
            <th class="col-sm-2">Tên</th>
            <th class="col-sm-3">Email</th>
            <th class="col-sm-4">Mật khẩu</th>
            <th><span>Chức năng</span></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td class="btn-group btn-group-lg">

                    <span class="btn-sm btn-danger">@Html.ActionLink("Xóa", "Delete", new { iduser = item.IdUser })  </span>

                </td>
            </tr>
        }

    </table>
    
</div>